repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-added-large-files

- repo: https://github.com/psf/black
  rev: 25.12.0
  hooks:
    - id: black
      language_version: python3

- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      # You can add `additional_dependencies` if you use plugins, e.g.:
      # additional_dependencies: ["flake8-bugbear"]

- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.14.10
  hooks:
    - id: ruff
      args: ["--fix", "--select=I,F,W,E"]

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
    - id: mypy
      additional_dependencies: ['types-requests']

- repo: https://github.com/igorshubovych/markdownlint-cli
  rev: v0.47.0
  hooks:
    - id: markdownlint-fix
      # markdownlint's --fix will attempt to auto-fix issues; run manually
      # with `pre-commit run markdownlint-fix --all-files` or let it run on commit
